<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CSS color analyzer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="style.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const input = document.querySelector('.switch-selectors-input');
      const body = document.querySelector('body');
      input.addEventListener('input', function(evt) {
        if(input.checked) {
          body.classList.add('show-selectors');
        } else {
          body.classList.remove('show-selectors');
        }
      });
    });
  </script>
</head>

<body>
  <h1>CSS Color Analyzer</h1>
  <div class="toolbar">
    <label for="selectorsVisibility">
      Show selectors <input class="switch-selectors-input" value="selectorsVisibility" type="checkbox" name="selectorsVisibility">
    </label>
  </div>
  <div class="container">
    {{#properties}}
      <div class="css-properties">
        <h2 class="css-property">{{name}} <span class="counter">{{count}}</span></h2>
        <div class="css-colors">
          {{#colors}}
            <h3 class="css-color">{{value}} <span class="counter" style="background-color: {{computedValue}}">{{count}}</span></h3>
            <div class="css-selectors">
              {{#selectors}}
                <h4 class="css-selector">{{.}}</h4>
              {{/selectors}}
            </div>
          {{/colors}}
        </div>
      </div>
    {{/properties}}
  </div>
</body>

</html>
