body {
  font-family: 'Fira Sans', Monaco, monospace;
  color: #262626;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px 50px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
}

h1 {
  margin-bottom: 36px;
}

.css-properties {
  flex: 1 1 auto;
  min-width: 360px;
  padding: 0 30px;
}

.css-property {
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cdcdcd;
}

.css-colors {
  margin-bottom: 12px;
}

.css-color {
  font-size: 14px;
  color: #454545;
}

.css-selectors {
  display: none;
  margin-left: 12px;
}

.show-selectors .css-selectors {
  display: block;
}

.css-selector {
  font-size: 11px;
  color: #535353;
}

.css-selector:before {
  content: '•';
  margin-right: 4px;
}

.counter {
  padding-top: 4px;
  margin-left: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  color: #444444;
}
