:root {
  --grey: #ccc;
  --grey-dark: #111;
}

$color-primary: rgb(50, 180, 209);

.class {
  color: green;
  background-color: $color-primary;
}

// ----- comment ----- //
.another-class {
  fill: blue;
  border: 1px solid var(--grey);

  &:hover {
    color: var(--grey-dark);
  }

  &.is-state {
    color: green;
  }
}

.class-2 {
  color: green;
  border-bottom-color: tint(yellow, 20%);
}
